<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> {% endcomment %}

    <!--Custom CSS-->
  </head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  <body>
    <h2>Result</h2>
    <div class='container'>
      <table>
        <tr>
          <th>Career Clusters</th>
          <th>Score</th>
          <th>Grade</th>
        </tr>
        {% for item in mylist %}
        <tr>
          <td>{{item.industry}}</td>
          <td>{{item.totalCount}}</td>
          <td>{{item.grade}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <hr >
    <h2>Grades</h2>
    <div class='container'>
      <table>
        <tr>
          <th>Score</th>
          <th>Grade</th>
        </tr>
        {% comment %} {% for item in mylist1 %}
        <tr>
          <td>{{item.score}}</td>
          <td>{{item.grade}}</td>
        </tr>
        {% endfor %} {% endcomment %}
      </table>
    </div>

  </body>
</html>